<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="ru.ming13.muzei.earthview"
	android:installLocation="auto">

	<uses-permission
		android:name="android.permission.INTERNET"/>

	<application
		android:icon="@mipmap/ic_launcher"
		android:label="@string/application_name"
		android:allowBackup="false"
		android:fullBackupContent="false"
		tools:ignore="GoogleAppIndexingWarning">

		<provider
			android:name=".WallpapersProvider"
			android:authorities="ru.ming13.muzei.earthview"
			android:label="@string/source_title"
			android:description="@string/source_description"
			android:exported="true"
			android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER">

			<intent-filter>
				<action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider"/>
			</intent-filter>

		</provider>

	</application>

</manifest>
